@page
@model Dot_NET_CRUD_Project.Pages.PartNumbersPage.DeleteModel

@{
    ViewData["Title"] = "Delete Part Number";
}

<div class="row" style="display: flex; justify-content: center; align-items: center;">
    <div class="col-2"></div>
    <div class="col card shadow p-3 mb-5 bg-white rounded">
        <div class="row text-danger">
            <h3>Are you sure you want to delete this?</h3>
        </div>
        <h4>Delete: Part Numbers</h4>
        <hr />
        <dl class="row">
            <dt class="col-sm-2">
                @Html.DisplayNameFor(model => model.PartNumbers.PartNumber)
            </dt>
            <dd class="col-sm-5">
                @Html.DisplayFor(model => model.PartNumbers.PartNumber)
            </dd>
        </dl>
        <dl class="row">
            <dt class="col-sm-2">
                @Html.DisplayNameFor(model => model.PartNumbers.Available)
            </dt>
            <dd class="col-sm-2">
                @Html.DisplayFor(model => model.PartNumbers.Available)
            </dd>
        </dl>
        <dl class="row">
            <dt class="col-sm-2">
                @Html.DisplayNameFor(model => model.PartNumbers.Customer)
            </dt>
            <dd class="col-sm-5">
                @Html.DisplayFor(model => model.PartNumbers.Customer.Customer)
            </dd>
        </dl>
        <dl class="row">
            <dt class="col-sm-2">
                @Html.DisplayNameFor(model => model.PartNumbers.Customer.Building)
            </dt>
            <dd class="col-sm-5">
                @Html.DisplayFor(model => model.PartNumbers.Customer.Building.Building)
            </dd>
        </dl>
        <div class="row">
            <div class="col-1"></div>
            <div class="col">
                <form method="post" style="display: flex; justify-content: center;">
                <input type="hidden" asp-for="PartNumbers.PKPartNumber" /> 
                <input type="submit" value="Delete" class="btn btn-danger" /> &emsp; | &emsp;
                <a class="btn" asp-page="./Index">Back to List</a>
            </form>
            </div>
            <div class="col-1"></div>
        </div>
    </div>
    <div class="col-2"></div>
</div>
