@page
@model Dot_NET_CRUD_Project.Pages.PartNumbersPage.IndexModel

@{
    ViewData["Title"] = "Part Numbers";
}

<h1>Index</h1>

<p>
    <a asp-page="Create">Create New</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.PartNumbers[0].PartNumber)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.PartNumbers[0].Available)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.PartNumbers[0].Customer)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model.PartNumbers) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.PartNumber)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Available)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Customer.Customer)
            </td>
            <td>
                <a asp-page="./Edit" asp-route-id="@item.PKPartNumber">Edit</a> |
                <a asp-page="./Details" asp-route-id="@item.PKPartNumber">Details</a> |
                <a asp-page="./Delete" asp-route-id="@item.PKPartNumber">Delete</a>
            </td>
        </tr>
}
    </tbody>
</table>
