@page
@model Dot_NET_CRUD_Project.Pages.BuildingsPage.IndexModel

@{
    ViewData["Title"] = "Buildings";
}

<div class="row g-3">
    <a class="btn" asp-page="Create">Create New </a>
</div>
<br>

<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Buildings[0].Building)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model.Buildings) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Building)
            </td>
            <td>
                <a class="btn" asp-page="./Edit" asp-route-id="@item.PKBuilding">Edit</a> 
                <a class="btn" asp-page="./Details" asp-route-id="@item.PKBuilding">Details</a> 
                <a class="btn"asp-page="./Delete" asp-route-id="@item.PKBuilding">Delete</a>
            </td>
        </tr>
}
    </tbody>
</table>
