@page
@model Dot_NET_CRUD_Project.Pages.CustomersPage.IndexModel

@{
    ViewData["Title"] = "Customers";
}

<div class="row g-3">
    <a class="btn" asp-page="Create">Create New </a>
</div>
<br>

<div class="row table-wrapper-scroll-y custom-scrollbar table-wrapper-scroll-x">
    <table class="table table-responsive shadow ">
        <thead>
            <tr>
                <th>
                    @Html.DisplayNameFor(model => model.Customers[0].Customer)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.Customers[0].Prefix)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.Customers[0].Building)
                </th>
                <th style ="display: flex; justify-content: center;">Options</th>
            </tr>
        </thead>
        <tbody>
    @foreach (var item in Model.Customers) {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.Customer)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Prefix)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Building.Building)
                </td>
                    <td style="display: flex; justify-content: center;">
                    <a class="btn" asp-page="./Edit" asp-route-id="@item.PKCustomers">Edit</a> 
                    <a class="btn" asp-page="./Delete" asp-route-id="@item.PKCustomers">Delete</a>
                </td>
            </tr>
    }
        </tbody>
    </table>
</div>