@page
@model Dot_NET_CRUD_Project.Pages.CustomersPage.IndexModel

@{
    ViewData["Title"] = "Customers";
}

<div class="row g-3">
    <a class="btn" asp-page="Create">Create New </a>
</div>
<br>

<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Customers[0].Customer)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Customers[0].Prefix)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Customers[0].Building)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model.Customers) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Customer)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Prefix)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Building.Building)
            </td>
            <td>
                <a class="btn" asp-page="./Edit" asp-route-id="@item.PKCustomers">Edit</a> 
                <a class="btn" asp-page="./Details" asp-route-id="@item.PKCustomers">Details</a> 
                <a class="btn" asp-page="./Delete" asp-route-id="@item.PKCustomers">Delete</a>
            </td>
        </tr>
}
    </tbody>
</table>
